.outer{
	width: 40vw;
	border: solid 1px black;
	height: 20vh;
	padding:2%;
  }
  .inner{
	border: solid 1px black;
  }
  #modal{
	border-radius: solid 1px black;
	background: gray;
	display: none;
	position: absolute;
	width: 15vw;
	top:2%;
	left:5%;
  }