<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">

    <ul style="list-style: none;">
      <li v-for="item in items">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
			<div class="card-header">	 <button style="float:right;" v-on:click="remove(key)" class="btn btn-danger">x</button></div>
  <div class="card-body">
    <h5 class="card-title">{{ item.message }}</h5>
  </div>
</div>
      </li>

    <span style="color:blue">Add to List: {{ message }}
      <br>
      <input v-model="message" placeholder="Add Task">
      <button v-on:click="add" class="btn btn-primary">Add</button>
    </ul>
  </div>

  <script src="ViewTuts.js"></script>
</body>
</html>
